body {
  background-color: #0cabea;
  text-align: center;
  color: blueviolet;
}

h1 {
  color: blueviolet;
  font-size: 2em;
}

a {
  padding-left: 20px;
  font-size: x-large;
  color: blueviolet;
}

img {
  height: 470px;
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
  border-radius: 10px;
}
